[submodule "include/Catch"]
	path = third_party/Catch
	url = https://github.com/philsquared/Catch
[submodule "include/spdlog"]
	path = third_party/spdlog
	url = https://github.com/mikelui/spdlog
[submodule "include/whereami"]
	path = third_party/whereami
	url = https://github.com/gpakosz/whereami
[submodule "include/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "src/Frontends/DrSigil/dynamorio-sigil2"]
	path = src/Frontends/DrSigil/dynamorio-sigil2
	url = https://github.com/VANDAL/dynamorio-sigil2
[submodule "src/Frontends/Sigrind/valgrind-sigil2"]
	path = src/Frontends/Sigrind/valgrind-sigil2
	url = https://github.com/VANDAL/valgrind-sigil2
[submodule "src/Backends/SynchroTraceGen/capnproto"]
	path = src/Backends/SynchroTraceGen/capnproto
	url = https://github.com/sandstorm-io/capnproto/
