####################
#                  #
#      General     #
#                  #
####################

/build/

# Swap files
*.sw*
*.pyc


####################
#                  #
#      Make        #
#                  #
####################

Makefile
Makefile.in

# Valgrind build
**/valgrind-3.11.0-Sigil2/Makefile.vex.in
**/valgrind-3.11.0-Sigil2/aclocal.m4
**/valgrind-3.11.0-Sigil2/autom4te.cache/
**/valgrind-3.11.0-Sigil2/config.h.in
**/valgrind-3.11.0-Sigil2/configure


####################
#                  #
#         C        #
#                  #
####################

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


####################
#                  #
#        C++       #
#                  #
####################

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

