[submodule "include/Catch"]
	path = include/Catch
	url = https://github.com/philsquared/Catch
[submodule "include/spdlog"]
	path = include/spdlog
	url = https://github.com/mdlui/spdlog
[submodule "include/whereami"]
	path = include/whereami
	url = https://github.com/gpakosz/whereami
[submodule "include/zstream-cpp"]
	path = include/zstream-cpp
	url = https://github.com/geromueller/zstream-cpp
