[submodule "include/Catch"]
	path = include/Catch
	url = https://github.com/philsquared/Catch
[submodule "include/spdlog"]
	path = include/spdlog
	url = https://github.com/mdlui/spdlog
[submodule "include/whereami"]
	path = include/whereami
	url = https://github.com/gpakosz/whereami
[submodule "include/zlib"]
	path = include/zlib
	url = https://github.com/madler/zlib
[submodule "src/Frontends/DrSigil/dynamorio"]
	path = src/Frontends/DrSigil/dynamorio
	url = https://github.com/mdlui/dynamorio
[submodule "src/Frontends/Sigrind/valgrind-3.11.0-Sigil2"]
	path = src/Frontends/Sigrind/valgrind-3.11.0-Sigil2
	url = https://github.com/mdlui/valgrind-Sigil2
